<%- include('header') -%>

<h1>Titill</h1>

<%- include('events') -%>

<div class="link">
  <a class="link__link" href="/admin">Innskráning</a>
</div>

<div class="link">
  <a class="link__link" href="/user/register">Nýskráning</a>
</div>


<%- include('footer') -%>
